/* QuoteBox.css */

#quote-box {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #a1884a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #text {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  #author {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    gap: 500px;
  }
  
  button, a {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #new-quote {
    background-color: #ffaa00;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  #new-quote:hover {
    background-color: #000000;
  }
  
  #tweet-quote {
    background-color: #05f6b1;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  #tweet-quote:hover {
    background-color: #000000;
  }
  